html, body, div, h1, h2, h3, p, b, i, strong, em, strike, sub, sup, ul, ol, li,
blockquote, form, imput, textarea, select, button, td, tr, th, table, span,
header, footer, article, aside, nav, section, hgroup {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

header, footer, article, aside, nav, section, hgroup {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  background: #fff;
  color: #222;
  font-family: serif;
  font-size: 100%;
}

img {
  border: none;
  outline: none;
}

a {
  color: #12c;
  text-decoration: underline;
}

a:hover {
  color: #12c;
  text-decoration: none;
}

a:visited,
a:active {
  outline: none;
}

ul {
  list-style: disc outside;
  padding-left: 20px;
}

ul li {
  padding-left: 2px;
}

ol {
  list-style: decimal outside;
  padding-left: 22px;
}

nav ol, nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: block;
}

input,
select,
textarea {
  display: block;
  border: 1px solid #666;
  font-family: serif;
  outline: none;
  vertical-align: top;
  vertical-align-box-sizing: border-box;
}

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: -0.5em;
}

sup {
  top: -0.5em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

small {
  font-size: 85%;
}

table, td {
  border-collapse: collapse;
  border-spacing: none;
}


.container {
  max-width: 942px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 1% 0;
}

.clearfix::after {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}

section {
  padding: 0;
  margin-bottom: -4px;
}

ul li {
  list-style-type:none;
}

.top_section {
  background: linear-gradient(to top, white 0%, #eaf1f0 100%);
}

.menu_wrapper {
  background: #96c038;
  display: inline-block;
  width: 100%;
}

.nav_menu {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  float: left;
  padding-top: 44px;
  padding-bottom: 1.5%;
}

.nav_menu  a {
  text-decoration: none;
  color: #FFF;
}

.nav_menu__item {
  display: block;
  float: left;
  padding: 1% 6% 0% 4%;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  border-bottom: 4px solid transparent;
}

.nav_menu__item::after {
  position: relative;
  bottom: -6px;
  display: block;
  width: 0;
  height: 4px;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #FFF;
}

.nav_menu__item:hover:after {
  width: 100%;
  color: #FFF;
}

.open span:before {
    top: 0;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn {
  position: relative;
  padding-left: 1.25em;
  z-index: 100;
}
.menu-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1%;
  width: 50px;
  margin: 2%;
  height: 2px;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.logo {
  display: block;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
}

.img_fred {
  display: block;
  margin: 0 auto;
  padding-top: 36%;
}

.menu-btn {
    position: absolute;
    top: 16px;
    right: 15px;
    height: 44px;
    width: 45px;
    cursor: pointer;
    display: none;
}

 .menu-side {
  width: 37%;
}

.menu--left {
  left: 3.5%;
}

.menu--right {
  left: 23%;
}

.healthy_care {
  font-family: 'Lora', serif;
  padding-top: 7.5%;
  color: #000;
  font-weight: 400;
}

.healthy_care_small {
  font-size: 16px;
  line-height: 36px;
}

.healthy_care_large {
  font-size: 48px;
  line-height: 33px;
  font-variant: small-caps;
}

.healthy_care_large p .line::before, .healthy_care_large ::after {
  height: 1px;
  opacity: 0.3;
  background-color: #b8b8b8;
}

.distance {
  margin-bottom: 2.8%;
}

.space_left {
  margin-top: -2.7%;
  padding-left: 39%;
}

.pic_sandwich {
  margin: 8% 3.6% 2% 4%;
}

.why_fred {
  background-color: #282828;
  padding: 1% 0;
}

.small_dish {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #FFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.cuisine {
  margin: auto;
  display: block;
  padding-top: 21%;
}

.title2 {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 1.5% 0;
}

.reasons_position {
  padding: 1% 0;
  margin: 4% 0;
  width: 100%;
}

.reasons_img {
  border: 8px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.reasons_dot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #96c038;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.reasons_dot--odd {
  top: -8%;
}

.reasons_dot--even {
  top: 100%;
}

.reasons_position li {
  float: left;
  margin: 0 0.5%;
}

.reasons_position li h3 {
  display: block;
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.reasons_position li p {
  display: block;
  color: #b8b8b8;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.reasons_position li img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.size3 {
  width: 21.23%;
  padding-top: 15.1%;
  font-weight: 400;
}

.size3 h3 {
  font-weight: 700;
  margin: 19% 15% 10%;
  font-size: 24px;
}

.size3 p {
  margin: 4% -22% 13%;
  font-size: 18px;
}

.size1, .size2, .size4, .size5 {
  width: 15.92%;
}

.size1, .size5 {
  padding-top: 20%;
}

.size1 h3 {
  margin: 9% -22% 1%;
}

.size1 p {
  margin: 4% -17% 20%;
}

.size2 {
  padding-top: 2%;
}

.size2 h3 {
  margin: -6% -6% 5%;
}

.size2 p {
  margin: 3% -13% 12%;
}

.size4 h3 {
  margin: 8% -6% 1%;
}

.size4 p {
  margin: 4% -25% 12%;
}

.size5 h3 {
  margin: 5% -22% 1%;
}

.size5 p {
  margin: 4% -22% 20%;
}

.fred_menu {
  position: relative;
  background-color: #b8b8b8;
}

.fred_menu-bg {
  background: url(../img/bg/wood-texture-min.png) repeat-y;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.4;
}

.fred_menu_wrapper {
  padding-top: 2.3%;
}

.title_menu {
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin: 7% 2% 3%;
}

.diff_distance {
  margin-bottom: 6%;
}

.menu-text {
  color: #282828;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 4%;
}

.underline_text:after {
  content: '';
  position: absolute;
  display: block;
  width: 410px;
  height: 1px;
  opacity: 0.5;
  background-color: #b8b8b8;
}

.food_container {
  width: 93%;
  margin: 1% 1% 3.5%;
  float: left;
  position: relative;
  background-color: #eaf1f0;
  display: inline-block;
}

.food_container_pic {
  display: block;
  width: 35%;
}

.food_container_pic--right {
  float: left;
}

.food_container_pic--left {
  float: right;
}

.food_container_pic--left img {
  display: block;
  width: 100%;
}

.menu_propos li {
  display: block;
}

.menu_info {
  width: 62%;
  padding: 0 1%;
}

.menu_propos {
  display: inline-block;
  width: 93%;
  height: auto;
}

.menu_propos .menu-text {
  padding: 0 8%;
}

.menu_item {
  display: block;
  position: relative;
  text-align: left;
  height: 287px !important;
  float: left;
  background: #FFF;
  margin: 0 0.5%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.menu_food--img {
  width: 100%;
}

.menu-text_in_item {
  display: block;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #282828;
  font-family: 'Lora', serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  height: 52px;
  max-width: 117px;
}

.text_dist {
  padding: 0 5%;
}

.item_price {
  color: #96c038;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 10% 0 8%;
}

.item_name {
  color: #282828;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 2%;
}

.btn {
  position: absolute;
  background-color: #96c038;
  cursor: pointer;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-variant: small-caps;
  padding: 3% 12%;
  text-align: center;
  margin: 10% 7%;
  border: 1 px solid transparent;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  bottom: -2px;
}

.btn:hover {
  color: #FFF;
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
}

.slick-arrow:hover {
  background-color: #96c038;
}

.slick-prev {
  cursor: pointer;
  position: absolute;
  background-color: #d7d7d8;
  background: url(../img/angle_braket_next.png) no-repeat 50% 50% #d7d7d8;
  bottom: 51%;
  padding: 1.5%;
  z-index: 99;
}

.slick-next {
  position: absolute;
  background: url(../img/angle_braket_prev.png) no-repeat 50% 50% #d7d7d8;
  bottom: 40%;
  padding: 1.5%;
  cursor: pointer;
}

.food_container_1 .menu_info {
  float: left;
}

.food_container_1 .slick-prev, .food_container_1 .slick-next {
  right: 0;
  cursor: pointer;
}

.food_container_1 .top_icon {
  right: 1.7%;
  top: -1%;
  padding: 4% 1% 1%;
}

.food_container_1 .top_icon::after {
  padding-top: 70%;
}

.food_container_2 .menu_info {
  float: right;
}

.food_container_2 .slick-prev, .food_container_2 .slick-next {
  left: 0;
  cursor: pointer;
}

.food_container_2 .menu-text {
  text-align: right;
}

.food_container_2 .underline_text:after {
  left: 17%;
}

.food_container_2 .top_icon {
  left: 2.1%;
  top: -3%;
  padding: 1% 1% 6%;
}

.food_container_2 .top_icon::after img {
  padding-top: 60%;
}

.new_line {
  display: block;
}

.top_icon {
  position: absolute;
  height: 36px;
  background-color: #96c038;
}

.top_icon::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 19px solid #96c038;
  border-right: 34px solid transparent;
  top: 100%;
  left: 0%;
}

.top_icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 19px solid #96c038;
  border-left: 34px solid transparent;
  top: 100%;
  right: 0%;
}

.healthy_care_small--line:before {
  content: '';
  position: absolute;
  right: 63%;
  width: 225px;
  display: block;
  height: 2px;
  top: 16%;
  margin-top: -1px;
  background-color: #b8b8b8;
  opacity: 0.3;
}

.healthy_care_small--line:after {
  content: '';
  position: absolute;
  left: 63%;
  width: 225px;
  display: block;
  height: 2px;
  top: 16%;
  margin-top: -1px;
  background-color: #b8b8b8;
  opacity: 0.3;
}

.intro_video {
  position: relative;
  background-color: #96c038;
  width: 100%;
  padding: 4% 0;
}

.intro_video .slick-prev {
  cursor: pointer;
  position: absolute;
  background: url(../img/rightangle.png) no-repeat 50% 50%;
  bottom: 35%;
  left: 3%;
  padding: 1.5%;
  transform: rotate(180deg);
  z-index: 99;
}

.intro_video .slick-next {
  position: absolute;
  background: url(../img/rightangle.png) no-repeat 50% 50%;
  bottom: 35%;
  right: 3%;
  padding: 1.5%;
  cursor: pointer;
}

.small_dish_video {
  display: block;
  margin: 0 auto;
}

.intro_video_item {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 2%;
  margin: 2% 0;
  background: #000;
}

.intro_video_item .iframe_video {
  display: inline-block;
  float: left;
  margin: 0 20px;
}

.intro_video_item .iframe_video iframe {
  display: block;
  width: 100%;
}

.title2--difcolor {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 1.5% 0;
  color: #fff;
}

.fred_service {
  position: relative;
  background-color: #eaf1f0;
  padding-bottom: 3%;
}

.small_dish_service {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #96c038;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.cuisine {
  margin: auto;
  display: block;
  padding-top: 21%;
}

.title2 {
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 1.5% 0;
}

.service {
  background: #FFF;
  display: inline-block;
  width: 48%;
  margin: 1% 1% 3.5%;
  float: left;
  position: relative;
}

.service figure {
  float: left;
  margin: 0 auto;
  display: block;
  width: 50%;
}

.service img {
  width: 100%;
  margin-bottom: -2%;
}

.info_section {
  height: auto;
  float: left;
  display: block;
  width: 50%;
}

.info_section h3 {
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin: 2% 0 2%;
  padding: 2% 2%;
  text-align: center;
  min-height: 18px;
}

.info_section p {
  color: #000;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 6% 14%;
  text-align: left;
}

.info_description {
  padding: 2%;
  position: relative;
  width: 100%;
}

.btn_info {
  position: absolute;
  background-color: #96c038;
  cursor: pointer;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-variant: small-caps;
  padding: 0.2% 3%;
  text-align: center;
  margin: 0% -18%;
  border: 1 px solid transparent;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  bottom: 7%;
}

.fred_chief_section {
  position: relative;
  background: url(../img/fred_chief_bg-min.png) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding: 10% 0 0;
}

.chief_part {
  height: auto;
}

.chief_img {
  display: block;
  padding-top: 5%;
  margin: 0;
  width: 70%;
  position: relative;
}

.chief_img_inside {
  width: 100%;
}

.chief_top {
  display: block;
  position: relative;
  background: #96c038;
  padding: 0.5% 8%;
  text-align: center;
  margin: -14% auto 0%;
  width: 140px;
  /* top: -5%;
  left: 34%; */
  z-index: 100;
}

.chief_top .title2--difcolor {
  margin-bottom: 3%;
}

.chief_sidebar {
  display: block;
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
}

.side_bar_description {
  background-color: #96c038;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 5%;
  text-align: left;
}

.side_bar_people {
  opacity: 0.63;
  background-color: #040404;
  padding: 1% 7% 5%;
  text-align: left;
}

.side_bar_people h2 {
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  padding: 2% 3% 0;
}

.side_bar_people p {
  color: #FFF;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 1% 3% 2%;
}

.map_section {
  position: relative;
}

#map{
  width: 100%;
  height: 650px;
}

.map_item {
  position: relative;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map_item iframe {
  width: 100%;
  pointer-events: none;
}

.clients_side_bar {
  display: block;
  position: absolute;
  background: #FFF;
  width: 20%;
  top: 4%;
  left: 1%;
  padding: 3% 3% 4%;
  overflow: hidden;
}

.clients_side_bar .slick-vertical .slick-slide {
  border: 2px solid #96c038;
}

.clients_side_bar_item {
  border: 2px solid #96c038;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 4% 1%  4%;
}

.partners_info {
  display: block;
  float: left;
  width: 58%;
  padding: 3% 2%;
}

.partners_info h2 {
  font-family: 'PT Sans', sans-serif;
  color: #96c038;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  min-height: 30px;
  padding: 2% 1%;
}

.partners_info p {
  color: #505050;
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  padding: 17% 1% 3%;
}

.partners_picture {
  display: block;
  float: left;
  width: 30%;
  margin: 0;
  z-index: 5;
}

.clients_p {
  margin: 1% 2%;
  color: #505050;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
}

.clients_side_bar_box {
  display: block;
}

.clients_side_bar_box .slick-prev {
  display: none;
  z-index: -99;
}

.clients_side_bar_box .slick-next {
  position: absolute;
  background: url(../img/down_angle.png) no-repeat 50% 50%;
  bottom: 2%;
  right: 45%;
  padding: 5.5%;
  cursor: pointer;
}

.fred_news_section {
  background: #eaf1f0;
}

.small_dish--news {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #040404;
  opacity: 0.5;
}

.title2--news {
  font-family: 'PT Sans', sans-serif;
  color: #505050;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  font-variant: small-caps;
  margin: 1.5% 0;
}

.news_box {
  display: inline-block;
  width: 100%;
}

.news_box_item {
  margin-right: 3%;
}

.news_box_item {
  display: block;
  float: left;
  text-align: left;
  position: relative;
  width: 20%;
  background: #FFF;
}

.news_box_item h3 {
  min-height: 18px;
  color: #96c038;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.news_box_item p {
  color: #000;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 6% 2%;
  margin-bottom: 20%;
}

.btn_news {
  background-color: #FFF;
  cursor: pointer;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-variant: small-caps;
  padding: 3% 12%;
  margin: 10% 6%;
  border: 1px solid #ddd;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  bottom: -2px;
}

.more_news_btn {
  background-color: white;
  border: 1px solid #ddd;
  color: #505050;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  font-variant: small-caps;
  padding: 2% 5%;
  margin: 2% 0 3%;
  cursor: pointer;
}

.menu_data {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  background: #96c038;
  text-align: center;
  padding: 5% 10%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.fred_form_section {
  position: relative;
  background: url(../img/bg/form_bg.png) no-repeat 50% 50%;
  background-size: cover;
  padding: 2% 0 9%;
  text-align: center;
}

.fred_form_section h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  font-variant: small-caps;
  color: #FFF;
  margin: 2% 0 1%;
}

.fred_form_section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Lora', serif;
  color: #FFF;
  margin: 1% 0;
}

.contact_form {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
}

.email_form {
  padding-left: 4%;
  width: 96%;
}

.option_form {
  width: 100%;
}

input, .option_form {
  text-align: left;
  color: #505050;
  margin: 0 auto;
  padding: 3% 0;
  margin-bottom: 5%;
  border-radius: 10px;
}

.input, textarea {
  display: inline-block;
  float: left;
  width: 45%;
  margin-bottom: 1%;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  height: 100%;
}

textarea {
  padding: 1%;
  margin-left: 3%;
}

.btn_msg {
  width: 146px;
  height: 44px;
  background-color: #96c038;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  font-variant: small-caps;
}

.btn_msg:hover {
  background-color: transparent;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
}

.phone_us {
  position: relative;
  text-align: center;
  background-color: #96c038;
  box-shadow: 0 8px 19.5px 1.5px rgba(6, 6, 6, 0.47);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  padding: 1% 4% 2%;
  margin: 3% auto -12%;
  width: 270px;
  /* bottom: -5%;
  left: 37.5%; */
  font-size: 24px;
  line-height: 17px;
  z-index: 99;
}

.phone_name {
  padding-bottom: 25px;
/*   padding-right: 25px; */
}

.phone_number {
  font-size: 30px;
  line-height: 45px;
}

.bottom_section {
  position: relative;
  background: #505050;
  padding: 5% 0 0;
}

.nav_menu_bottom {
  white-space: no-wrap;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.nav_menu_bottom a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  font-variant: small-caps;
  margin: -3% 1.7% 1% 1%;
}

.nav_menu_bottom__item::after {
  position: relative;
  bottom: -6px;
  display: block;
  width: 0;
  height: 4px;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #FFF;
}

.nav_menu_bottom::after {
  content: '';
  display: block;
  height: 1px;
  opacity: 0.2;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.nav_menu_bottom__item:hover:after {
  width: 100%;
  color: #FFF;
}

.soc_icons {
  padding: 1% 0 1%;
  margin: 0 auto;
  text-align: center;
}

.soc_icons_img {
  display: inline-block;
  width: 100%;
  margin: 1% 0;
  cursor: pointer;
}

.soc_icons_img img {
  margin-right: 1%;
}

.footer_rights {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

/* mob version */
/* #menuTrigger,
label[for="menuTrigger"] {
  float: left;
  display: none;
} */

/* mob menu */

/* header nav li {
  display: inline-block;
} */



/* end of mob menu */


/* mob version */

/* tablet & mobile devices */
   /* @viewport */
  @viewport,
  @-ms-viewport,
  @-webkit-viewport,
  @-moz-viewport {
      width: device-width;
      zoom: 1;
      max-zoom: 2;
  }
/* end of @viewport */

@media screen and (max-width: 1230px) {

  .menu_wrapper {
    background: none;
    padding: 3% 0;
    width: 100%;
    /* position: fixed;
    z-index: 100; */
  }
  .nav_menu__item {
    margin: 0% 35%;
    font-size: 18px;
    display: inline-block;
    width: 30%;
    padding-top: 2%;
       
  }


  .nav_menu_section{
  display: block;
}
  .nav_menu {
    display: inline-block;
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .nav_menu a {
    color: #B8B8B8;
  }
  
  .nav_menu a:hover {
    color: #96c038;
  }

  .nav_menu__item::after {
    background-color: #96c038;
  }

  .menu--left, .menu--right {
    left: -12px;
    right: 0;
    display: inline-block;
  }

  .menu-btn {
    display: block;
}

  .logo {
    display: inline-block;
    border-radius: 0;
    transform: none;
    left: 0;
    top: 0;
    height: 70px;
    width: 80px;
  }

  .img_fred {
    padding-top: 18%;
    width: 71px;
  }

  .reasons_position li h3 {
    font-size: 22px;
  }

  .reasons_position li p {
    font-size: 18px;
  }
}

@media screen and (max-width: 985px) {
  .input {
    width: 100%;
  }
  option {
    display: block;
  }

  textarea {
   margin-left: 0;
   width: 98%;
  }

  .fred_form_section p {
    font-size: 22px;
    margin-bottom: 3%;
  }

  .btn_msg {
    margin-top: 1%;
  }

  .side_bar_description {
    padding: 2%;
    text-align: center;
  }

  .side_bar_people {
    padding: 0 3% 0;
  }

  .healthy_care_small:before,.healthy_care_small:after {
    display: none;
  }

  .food_container {
    float: none;
  }
}

@media screen and (max-width: 850px) {
  .service {
    float: none;
    width: 95%;
  }

  .service figure {
    width: 20%;
  }

  .info_section {
    width: 60%;
  }

  .info_section h3 {
    font-size: 26px;
}
  .info_section p {
    text-align: center;
    font-size: 16px;
    margin: 6% 5%;
  }

  .btn_info {
    margin: 0 -7%;
  }

  .chief_img {
    display: inline-block;
    width: 100%;
    position: static;
  }

  .chief_sidebar {
    position: static;
    width: 100%;
    margin-top: -0.5%;
  }

  .side_bar_people p {
    font-size: 16px;
  }

  .food_container_pic {
    display: none;
  }

  .menu_info {
    width: 95%;
  }

  .clients_side_bar {
    display: none;
  }

  .reasons_img {
    border: none;
    width: 40%;
    margin: 0 auto;
    display: none;
  }
  .btn {
    margin: 5% 7%;
  }

  .reasons_position {
    padding: 0;
    margin: 0;
  }

  .reasons_position li {
    display: inline-block;
    width: 70%;
    text-align: center;
    float: none;
  }

  .size1 p, .size2 p, .size3 p, .size4 p, .size5 p {
    margin: 0 auto;
    padding-bottom: 3%;
  }

  .size1, .size2, .size3,.size4, .size5 {
    padding: 1% 2%;
  }

  .size1 h3, .size2 h3, .size3 h3, .size4 h3, .size5 h3  {
    margin: 0 0 2%;
  }

  .intro_video .slick-prev, .intro_video .slick-next {
        padding: 2.5%;
  }
}

@media screen and (max-width: 750px) {

  .nav_menu_bottom a {
    margin: 0% 0.7% 1% 1%;
  }

  .info_description {
    width: 100%;
  }

  .info_section {
    width: 80%;
  }
  .info_section h3 {
    padding: 0;

  }

  .info_section p {
    margin: 1% 5%;

  }

  .slick-prev, .slick-next {
    padding: 2.5%;
  }

  .news_box_item_two_inline {
    display: inline-block;
    width: 100%;
  }

  .news_box_item {
    width: 45%;
    margin-top: 3%;
  }

  .fred_form_section {
    padding: 2% 0 8%;
  }

  .item_price {
    margin: 4% 0 2%;
  }

  .menu-text_in_item {
    max-width: 180px;
    font-size: 14px;
  }

  .menu_item {
      height: 305px !important;
      margin-bottom: 1%;
  }

}

@media screen and (max-width: 650px) {


  .menu_item {
    height: 330px !important;
    margin-bottom: 2%;
  }

  .menu-text_in_item {
    font-size: 14px;
  }
  .fred_form_section {
    padding: 2% 0 1%;
  }

  .phone_number {
    font-size: 18px;
  }

  .info_section p {
    padding-bottom: 10%;
  }

  .chief_top {
    background: none;
  }

  .chief_img_inside {
    padding-top: 7%;
  }

  .nav_menu_bottom {
    padding-top: 11%;
  }

  .nav_menu_bottom a {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 2%;
    text-align: center;
  }

  .service figure {
    display: none;
  }

  .info_section {
    width: 100%;
   /*  opacity: 0.3; */
  }

  .fred_form_section p {
    padding: 0 2%;
  }
}


@media screen and (max-width: 490px) {
   .chief_top {
     padding: 0;
   }

   .menu-text_in_item {
     max-width: 275px;
     width: 100%;
   }

  .item_price {
    margin: 4% 0 2%;
  }

  .menu_item {
    height: 360px !important;
  }

  .slick-prev, .slick-next {
    padding: 3.5%;
  }

  .pic_sandwich {
    margin: 0;
    padding: 9% 0;
  }

  .pic_sandwich img {
    width: 90%;
  }

  .healthy_care_large {
    font-size: 44px;
  }

  .underline_text:after {
    content: "";
    width: 80%;
  }
}


@media screen and (max-width: 400px) {
  .news_box_item {
    width: 90%;
    float: none;
  }

  .news_box_item p {
    margin-bottom: 1%;
  }

  .chief_img_inside {
    padding-top: 13%;
  }

  .contact_form {
    width: 93%;
  }

  .map_item {
    width: 100%;
  }

  .phone_us {
    width: 80%;
  }

  .healthy_care {
    padding-top: 21.5%;
  }
}

@media screen and (max-width: 340px) {
  .menu_wrapper {
    padding: 29% 0 3%;
  }

  .info_section p {
    padding-bottom: 8%;
  }

  .btn_info {
    position: static;
    margin-bottom: 2%;
  }

  .chief_top {
    top: -4%;
    left: 25%;
  }

  .chief_img_inside {
    padding-top: 25%;
  }

  .fred_form_section h3 {
    margin-top: 5%;
  }

  .title_menu {
    font-size: 32px;
  }

  .healthy_care_large {
    font-size: 34px;
  }
}

@media screen and (max-width: 280px) {
  .title_menu {
    font-size: 28px;
  }

  .menu-text {
    font-size: 12px;
  }
}
